<!DOCTYPE html>
<html>
    <head th:include="fragment/base :: head (title=Edit)">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">
                    <h2>Edit Book</h2>
                    <div th:include="fragment/forms :: book (action=edit)" th:remove="tag" />
                    <div th:include="fragment/forms :: delete (type=book)" th:remove="tag" />
                </div>
            </div>
        </div>
        <script>
            //<![CDATA[
            var elems = document.getElementsByTagName('input');
            for (i = 0; i < elems.length; i++) {
             if (!elems[i].value && elems[i].getAttribute('required')) {
              elems[i].style.backgroundColor = 'lavenderblush';
             }
            }
            window.addEventListener('input', function (e) {
             var inputs = document.getElementsByTagName('input');
             for (i = 0; i < inputs.length; i++) {
              if (!inputs[i].value && inputs[i].getAttribute('required')) {
               elems[i].style.backgroundColor = 'lavenderblush';
              } else {
               elems[i].style.backgroundColor = 'white';
              }
             }
            }, false);
            //]]>
        </script>
    </body>
</html>


