<!DOCTYPE html>
<html>
    <head th:include="fragment/base :: head (title=Home)">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">
                    <table class="headerlinks">
                        <tr>
                            <td><a class="index-link" th:href="@{/references/add}">Add a reference</a></td>                            
                            <td><a class="index-link" th:href="@{/importAcm}" id="acmlink">Import from ACM</a></td>
                            <td><a class="index-link" th:href="@{/importBibTex}" id="bibimportlink">Import BibTeX</a></td>
                            <td><a class="index-link" th:href="@{/bibtex}" id="biblink">Get a BibTex</a></td>
                        </tr>
                    </table>
                    
                    <h2>References in repository:</h2>
                    <div id="form-search">
                        <div th:include="fragment/forms :: search" th:remove="tag" />
                    </div>
                    <table class="table table-striped reference-list">
                        <tr class="reference-row" th:each="reference : ${references}">
                            <td class="handle" th:text="${reference.handle}">Handle</td>
                            <td>
                                <a th:href="@{/references/} + ${reference.type} + '/edit/' + ${reference.id}">
                                    <span class="title" th:text="${reference.title}">Title</span>
                                </a>
                                <div class="author" th:text="${reference.creator}">Author</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>


