<!DOCTYPE html>
<html>
    <head th:include="fragment/base :: head (title=Home)">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">

                    <a class="index-link" th:href="@{/references/add}">Add a reference</a>
                    <a class="index-link" th:href="@{/bibtex}" id="biblink">Get a BibTex</a>

                    <h2>References in repository:</h2>
                    <ul class="reference-list">
                        <li th:each="reference : ${references}">
                            <a th:href="@{/references/} + ${reference.type} + '/edit/' + ${reference.id}">
                                <span class="title" th:text="${reference.title}">Title</span>,
                                <span class="author" th:text="${reference.creator}">Author</span>,
                                <span class="handle" th:text="${reference.handle}">Handle</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>


